<!DOCTYPE html>
<html>
    <head>
        <link rel=stylesheet href=/static/country.css>
    </head>
    <body>
        <p>The capital of {{c.name}} is {{c.capital}}</p>
        <p>It has a population of {{c.population}}</p>
        <p>It has a GDP of ${{c.gdp}}</p>
        <img src={{c.flag}} style='width:100px'/>
        <button id=delete>Delete</button>
    </body>
</html>